[package]
name = "async-channel"
version = "1.2.0
authors = ["Stjepan Glavina <stjepang@gmail.com>"]
edition = "2018"
description = "Async multi-producer multi-consumer channel"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/stjepang/async-channel"
homepage = "https://github.com/stjepang/async-channel"
documentation = "https://docs.rs/async-channel"
keywords = ["mpmc", "mpsc", "spmc", "chan", "futures"]
categories = ["asynchronous", "concurrency"]
readme = "README.md"

[dependencies]
concurrent-queue = "1.0.0"
event-listener = "2.0.0"
futures-core = "0.3.5"

[dev-dependencies]
blocking = "0.4.4"
easy-parallel = "3.0.0"
futures-util = { version = "0.3.5", default-features = false }
